/* src/App.css */
.App {
  text-align: center;
  font-family: Comic Sans MS, Comic Sans, cursive;
  background-color: lightblue;
}

input {
  margin-bottom: 20px;
}

button {
  color: red;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
}
